body {
    background-color: #111;
    color: white;
  }

.bar {
    /* height: 100vh; */
    position: relative;
    /* background-image: url('https://image.tmdb.org/t/p/original//3lBDg3i6nn5R2NKFCJ6oKyUo2j5.jpg'); */
    background-size: cover;
    background-position: center;
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
}

.featured::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7.4rem;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
}

.featured h2 {
    font-size: 50px;
    margin: 0;
    z-index: 10;
  }
  
  .featured .featured__buttons {
    z-index: 10;
  }
  
  .featured .featured__buttons button {
    font-size: 16px;
    color: white;
    background-color: rgba(109, 109, 110, 0.7);
    border: none;
    padding: 8px 24px;
    border-radius: 4px;
    margin: 5px;
  }
  
  .featured::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .featured .featured__buttons .button__play {
    background-color: white;
    color: black;
  }
  
  .button__play i {
    margin-right: 6px;
  }
  
  .featured .featured__description {
    max-width: 350px;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    z-index: 10;
  }

  .original {
    height: 40vh;
    background-color: #111;
    color: white;
    z-index: 10;
    padding-top: 30px;
    padding-left: 10px;
  }

  .movies {
    padding-left: 0px;
    overflow-x: scroll !important;
    flex-wrap: nowrap;
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
    /* border: 2px solid red; */
  }

  .movies::-webkit-scrollbar {
    display: none;
  }
  
  .movies img {
    object-fit: cover;
    transition: all 0.2s ease-out;
    cursor: pointer;
    margin-right: 10px;
    height: 150px;
    width: 100px !important;
  }
  
  .movies img:hover{
    transform: scale(1.5);
  }

  .trending {
    height: 33vh;
    background-color: #111;
    color: white;
  }
  
  .display-image {
    /* border: 2px solid red; */
    height: 575px;
   margin-left: -30px;
   margin-bottom: 0px;
   margin-top: -15px;
   /* overflow: hidden; */
  }

  .display-image img{
    height: 100%;
    width: 100%;
    /* background-size: 100% cover; */
    object-fit: cover;
  }
  
  .transparent-nav{
    opacity: 0.5 !important;
  }

  .search-box {
    /* height: 100vh; */
    margin-top: 100px;
    background-color: black;
    /* margin-bottom: 5px; */
  }
  